body{
    background-color: darkkhaki;
    font-family: sans-serif;
    color:#000;
}
.logo{
    margin:1px 5px;
    height:40px;
    width:45px;
    border-radius: 90%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  border:2px solid black;
  color: white;
  background-color:black;
  margin:11px;
}
.navbar a i{
    margin: 3px;
}
.navbar a{
    margin: auto 5px;
    text-decoration:none;
    color:#fff;
}
.ref{
    display: flex;
}
.head{
    text-align: center;
    flex:1;
    margin:auto;
}
.main{
    display: flex;
    margin:5%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.frm{
    height:clamp(100%,1900px,1000px) ;
    text-align: center;
    justify-content: space-evenly;
    padding:2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    background-color:whitesmoke;
}
.title{
  text-align: center;
  margin: 60px;
  font-size: medium;
  font-weight: bolder;
}
.title::first-letter{
    color:#2d451d;
}
.entry{
    display: flex;
    margin: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.entry label{
    margin: 0px 100px;
    text-align: center;
}
.entry1{
    display: flex;
    margin: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.entry1 label{
    margin: 0px 100px;
    text-align: center;
}
.submit-btn{
    display: block;
    margin: 15px;
}
.submit-btn button:hover{
    background-color:cadetblue;
    cursor: pointer;
}
input:hover{
border:2px solid black;
}
input{
    margin-bottom:20px;
}
input:valid{
    border-color: green;
}
a:visited{
    color:blueviolet;
}